.moviesSection {
  margin-top: 24px;
  height: 400px;
  overflow: scroll;
  scroll-snap-type: x mandatory;
}

.title {
  margin: 24px 0;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: -1px;
  position: sticky;
  left: 0;
}

.movies {
  display: flex;
  width: max-content;
  height: 300px;
  gap: 24px;
}
